* {
    padding: 0;
    margin: 0;
    font-family: "楷体";
    font-size: 17px;
}

#lg_nav {
    padding: 0;
    height: 50px;
    background-color: #E4E4E4;
    /*background-color: #e3f2fd;*/
}

#lg_nav .fan_a {
    line-height: 50px;
    position: relative;
    top: 3px;
    left: 5%;
}

#lg_nav .ge-ren {
    line-height: 50px;
}

#lg_section > ul > li {
    border-top: 0;
    margin: 0 auto;
}

#lg_section > ul > li {
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

#lg_section > ul > li > .picture_t {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid purple;
}

.send_tm {
    margin: 0 auto 50px;
}

button.send_m {
    margin-left: 10%;
}

button.send_t {
    margin-right: 10%;
}

#upload_picture {
    position: absolute;
    opacity: 0;
    z-index: -1;
}